
        body {
            background-color: #DDF2DA;
        }

        .container {
            max-width: 400px;
            margin: 0 auto;
            margin-top: 100px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .image-container {
            margin-top:30px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .image-container img {
                width: 50px;
                height: 50px;
        }
        .container text-center {
            color: #3B5167;
        }
        #btn-acessar {
            background-color: #70CDC3;
            color: #DDF2DA;
        }
        